  <div #card id={{id}} [style.background-color] = "cardBgColor" [style.margin]="cardsInfo.cardsMargin+'px'" [style.width]="cardsInfo.cardsWidth+'px'" class='card'>
    <h1>{{title|slice:0:8}}</h1>
    <p  (dblclick)='DoEdit()' *ngIf=!editStatus>{{content}}</p>
    <input  [style.background-color] = "cardBgColor" (keydown.escape) = 'CancleEdit()' (keydown.enter)='DoEdit($event.target.value)' *ngIf= editStatus class='edit-box'>
    <button (click) = 'this.pickTodoColor.next({"todo":data,"color":"green"})' id='green' class='color-picker'></button>
    <button (click) = 'this.pickTodoColor.next({"todo":data,"color":"yellow"})'  id='yellow' class='color-picker'></button>
    <button (click) = 'this.pickTodoColor.next({"todo":data,"color":"red"})'  id='red' class='color-picker'></button>
    <button class='complete-button' (click)='this.deleteTodo.next(data)'>{{buttonTitle|uppercase}}</button>
  </div>


